@import url('https://fonts.googleapis.com/css?family=Courier+Prime:700|Quattrocento+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 144.4rem;
}

body {
  font-size: 1.4rem;
  color: #333;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: black;
}

header{
  font-family: 'Courier Prime', monospace;
  color: white;
  background-color: black;
  padding-top: 5px;
}

#reservations {
  background-color: black;
  background-color: black;
  padding: 1rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-right: -2rem;
  &:hover{
    border-top-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
     background-color: #333;
    transition: 0.3s;
  }
  a {
    color: white;
  }
}

.site__header {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Courier Prime', monospace;
  text-align: center;
}

.nav {
  margin-top: 8rem;
  &__items {
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 0.3rem 0.7rem;
    width: 20%;
    padding: 0.5rem 1rem;
    li a{
        text-decoration: none;
        color: #222;
    }
    li a:hover {
        color: rgba(0,0,0,0.7);
        transition: 0.3s;
    }
    li a:active {
        color: rgba(0,0,0,0.7);
    }
  }
}

.main {
  background-image: url("./assets/restaurant.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 85rem;
}

.main__card {
  margin: 10rem auto 0 auto;
  width: 110rem;
  height: 60rem;
  padding: 10rem 5rem 10rem 5rem ;
  display: none;
  flex-direction: column;
  background-color: white;
  color: black;
  animation-name: card;
  animation-duration: 0.6s;
  h3 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
  }
  &-content{
   display: flex;
    &-left {
      margin-left: 2rem;
      width: 50rem;
    }
    &-right {
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 2;
      letter-spacing: 1px;
      margin-left: 2rem;
      text-align: justify;
    }
  }

}

@keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  position: relative;
  top: 85.86rem;
  background-color: black;
  height: 3.1rem;
  font-size: 1.7rem;
  &__social {
    list-style: none;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    li {
      color: white;
      margin-right: 1rem;
      margin-left: 1rem;
      padding: 0.5rem;
    }
    li:hover {
      color: rgba(255, 255, 255, 0.842);
      cursor: pointer;
      transition: 0.3s;
      background-color: gray;
      border-radius: 46%;
    }
  }
}
